
.singleBreed--first__container {
  display: flex;
  padding: 0 0 0 2.875rem;
  gap: 7.1875rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
}

.singleBreed--image {
  width: 370px;
  height: 370px;
  object-fit: cover;
  border-radius: 24px;
}

.singleBreed--name {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--color-secondary-black);
  margin-bottom: 1.5625rem;
}

.singleBreed--description {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.singleBreed--temperament, 
.singleBreed--origin, 
.singleBreed--lifespan {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.singleBreed--temperament span, 
.singleBreed--origin span, 
.singleBreed--lifespan span {
  font-weight: 700;
}

.brown--bar {
  background-color: var(--color-tertiary-brown);
  width: 60px;
  height: 12px;
  border-radius: 8px;
}

.white--bar {
  background-color: var(--color-tertiary-white);
  width: 60px;
  height: 12px;
  border-radius: 8px;
}

.singleBreed--rating__container {
  display: flex;
  gap: .5625rem;
  margin-bottom: 2rem;
}

.rating--text {
  width: 150px;
  font-size: 1rem;
  font-weight: 700;
}
.other--photo__container {
  margin-bottom: 3.125rem;
}
.other--photo__title {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--color-secondary-black);
  margin-bottom: 2.5rem;
}

.otherPhoto--image__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.875rem;
}

.other--photo__image {
  width: 270px;
  height: 270px;
  object-fit: cover;
  align-self: center;
  border-radius: 24px;
}