@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-brown: #291507;
  --color-grey: #E3E1DC;
  --color-sandel :#DEC68B;

  --color-secondary-black: #291507;
  --color-secondary-brown : #4D270C;
  --color-secondary-grey: #29150799;
  --color-secondary-white: #9797971A;

  --color-tertiary-brown: #544439;
  --color-tertiary-white: #E0E0E0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.app--container {
  padding: 0 6rem;
}

.logo--image {
  margin: 1.875rem 0 2.4375rem 0;
}


.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: var(--color-secondary-black);
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}